<ion-modal-view id="call_modal" class="full-modal">
    <ion-header-bar>
        <h1 class="title">Schüler anrufen</h1>
    </ion-header-bar>
    <ion-content>
        <p class="text-title">Anhalter, Antonia</p>
        <div class="line-full sms">
            <div class="sms-name"><a class="button app-button-default">Handy: 2233</a></div>
            <div class="sms-call"><a class="button app-button-default">SMS</a></div>
            <div class="sms-edit"><a class="button app-button-default">Bearbeten</a></div>
        </div>
        <div class="line-full call">
            <div class="call-name"><a class="button app-button-default">Festnetz 202065-1111111</a></div>
            <div class="call-edit"><a class="button app-button-default">Bearbeten</a></div>
        </div>
    </ion-content>
</ion-modal-view>