<ion-modal-view id="info_modal" class="full-modal">
    <ion-header-bar>
        <h1 class="title">Schuler Info</h1>
    </ion-header-bar>
    <ion-content>
        Anhalter, Antonia<br> 
        Bahnhofstr. 123 <br>
        47228 Duisburg <br>
        Handy: <br>
        Email: <br>
        Notiz: Kontaktlinsen <br>
        geboren am 12.06.1990 in Mülheim <br>
        Sehhilfe: Ja <br>
        Prüfauftrag vorhanden: Ja <br>
        Abgelaufen am 01 .1900 <br>
        Prüfauftrags Nr.: <br>
        Saldo: -6.00 € <br>
        Preisliste: Liste Nr. 1 <br><br>
        letzte theo. Prüf.: B am 02.01.2014 bestanden <br>
        letzte prakt. Prüf.: <br>
        B am 02.01.2014 bestanden <br><br>
        beantragt Klasse B am 01 . 12.2013 <br>
        keine Klasse vorhanden <br><br>
        Klasse B: <br>
        &nbsp;&nbsp;Übungsstunden: 6 (270 Minuten) <br>
        &nbsp;&nbsp;Grundfahraufgaben:l (45 Minuten) <br>
        &nbsp;&nbsp;Unterweisung: 0 (0 Minuten) <br>
        &nbsp;&nbsp;Autobahn: 4 (1 80 Minuten) <br>
        &nbsp;&nbsp;Überland: 5 (225 Minuten) <br>
        &nbsp;&nbsp;Dunkelheit: 4 (1 80 Minuten) <br>
        &nbsp;&nbsp;Theorie Grund.: 12 (1 080 Minuten) <br>
        &nbsp;&nbsp;Theorie Zusatz.: 2 (1 80 Minuten) <br>
    </ion-content>
</ion-modal-view>